<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.recallbackend.mapper.ScheduleMapper">

    <select id="selectVideoByUserId" resultType="com.example.recallbackend.pojo.dto.result.VideoPacketResult">
        select id as videoId, data as data, video_url as videoUrl, length as length
        from schedule
        where user_id = #{userId}
    </select>
</mapper>