<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.recallbackend.mapper.ScheduleMapper">
    <insert id="insertVideoByUserId">
        insert into schedule (user_id, data, video_url, length)
        VALUES (#{userId}, #{data}, #{videoUrl}, #{length})
    </insert>
    <insert id="insertVideoNoDataByUserId">
        insert into schedule (user_id, video_url, length)
        VALUES (#{userId}, #{videoUrl}, #{length})
    </insert>

    <select id="selectVideoByUserId" resultType="com.example.recallbackend.pojo.dto.result.VideoPacketResult">
        select id as videoId, data as data, video_url as videoUrl, length as length
        from schedule
        where user_id = #{userId}
    </select>
    <select id="selectIdByOrder" resultType="java.lang.Integer">
        select id
        from schedule
        where user_id = #{userId}
        order by id desc
        limit 1
    </select>
    <select id="selectVoiceByUserId" resultType="com.example.recallbackend.pojo.dto.result.VoiceResult">
        select id as voiceId, data as data, length as length
        from schedule
        where user_id = #{userId}
    </select>
    <select id="selectOneByUserId" resultType="com.example.recallbackend.pojo.dto.result.VoiceResult">
        select id as voiceId, data as data, length as length
        from schedule
        where user_id = #{userId}
        order by id desc
        limit 1
    </select>
    <select id="selectVideosByUserId" resultType="com.example.recallbackend.pojo.dto.result.VideoListResult">
        select id as value, data as text, video_url as voicePath
        from schedule
        where user_id = #{userId}
    </select>
</mapper>