<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.recallbackend.mapper.UserRelationMapper">

    <update id="updateChildName">
        update user_relation
        set child_name = #{childName}
        where parent_id = #{parentId}
            and child_id = #{childId}
    </update>
    <delete id="deleteRelation">
        delete from user_relation
        where parent_id = #{parentId,jdbcType=INTEGER}
            and child_id #{childId,jdbcType=INTEGER}
    </delete>
    <select id="selectNameByUserId" resultType="com.example.recallbackend.pojo.po.RelationNamePo">
        select parent_name as parentName, child_name as childName
        from user_relation
        where parent_id = #{parentId,jdbcType=INTEGER}
            and child_id = #{childId,jdbcType=INTEGER}
    </select>
    <select id="selectChildNamesByParentId" resultType="java.lang.String">
        select child_name as childName
        from user_relation
        where parent_id = #{parentId,jdbcType=INTEGER}
    </select>
</mapper>